<div #survey>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-stepper orientation="horizontal" *ngIf="groupedQuestions.length > 0" [linear]="true">
      <mat-step formGroupName="questionGroups" *ngFor="let category of groupedQuestions; let i=index"
        [completed]="questionGroups.at(i).valid">
        <ng-template matStepContent>
          <div class="bg-white relative pb-5" [formArrayName]="i">
            <div class="flex flex-col mb-3" formArrayName="questions">
              <div class="mx-5 my-2 py-2 bg-slate-100 relative" *ngFor="let question of category; let qIndex = index"
                [formGroupName]="qIndex">
                <ng-container *ngIf="form.value.questionGroups[i].questions[qIndex].rating; else showNumber">
                  <div class="question-tick">
                    <mat-icon class="tick-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="check_circle_outline"></mat-icon>
                  </div>
                </ng-container>
                <ng-template #showNumber>
                  <div class="question-number">{{question.questionNumber}}</div>
                </ng-template>
                <h4 class="text-center">{{ question.question }}</h4>
                <div class="text-center">
                  <input type="hidden" formControlName="questionNumber">
                  <div class="m-auto w-fit">
                    <app-rating formControlName="rating"></app-rating>
                  </div>
                </div>
              </div>
            </div>
            <div class="button-container">
              <div class="flex justify-between">
                <button type="button"
                  class="bg-slate-200 hover:bg-slate-400 disabled:bg-slate-50 text-blue-600 disabled:text-gray-400 text-sm px-4 py-2  border rounded-full w-28"
                  matStepperPrevious [disabled]="i === 0">Previous</button>
                <button type="button" matStepperNext
                  class="bg-red-600 hover:bg-red-700 disabled:bg-red-50 text-white disabled:text-gray-400 text-sm px-4 py-2  border rounded-full w-28"
                  [disabled]="!questionGroups.at(i).valid" *ngIf="i < groupedQuestions.length - 1">Next</button>
                <button type="submit"
                  class="bg-red-600 hover:bg-red-700 disabled:bg-red-50 text-white disabled:text-gray-400 text-sm px-4 py-2  border rounded-full w-28"
                  *ngIf="i === groupedQuestions.length - 1" [disabled]="!form.valid || submitting">Submit</button>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </form>
</div>
<app-data-status-indicator [element]="survey" [initialState]="'Loading'"></app-data-status-indicator>