.question-number {
  position: absolute;
  top: calc(50% - 12px);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #bcbecf;
  text-align: center;
  color: #fff;
  left: -12px;
  padding: 3px 5px;
}
.button-container {
  position: absolute;
  bottom: -15px;
  width: 240px;
  left: calc(50% - 120px);
  text-align: center;
}
