<div #survey>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-stepper *ngIf="getKeys(groupedQuestions) as categories" [linear]="true">
      <mat-step *ngFor="let category of categories; let i=index" [completed]="form.get(category)?.valid">
        <ng-template matStepLabel>{{ category }}</ng-template>
        <ng-template matStepContent>
          <div class="pt-2" [formGroupName]="category">
            <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
              <mat-expansion-panel [hideToggle]="false" [expanded]="true"
                *ngFor="let subCategory of getKeys(groupedQuestions[category])">
                <mat-expansion-panel-header class="border-b">{{ subCategory }}</mat-expansion-panel-header>
                <div [formGroupName]="subCategory">
                  <div class="flex flex-col gap-2" formArrayName="questions">
                    <div *ngFor="let question of groupedQuestions[category][subCategory]; let qIndex = index"
                      [formGroupName]="qIndex">
                      <p>{{question.questionNumber}}. {{ question.question }}</p>
                      <div class="pl-2">
                        <input type="hidden" formControlName="questionNumber">
                        <app-rating formControlName="rating"></app-rating>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="flex pt-2 pb-2">
            <button type="button" mat-raised-button matStepperPrevious *ngIf="i > 0">Previous</button>
            <div class="flex-auto">
            </div>
            <button type="button" matStepperNext mat-raised-button [disabled]="!form.get(category)?.valid"
              *ngIf="i < categories.length - 1">Next</button>
            <button type="submit" mat-raised-button color="primary" *ngIf="i === categories.length - 1"
              [disabled]="!form.valid || submitting">Submit</button>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </form>
</div>
<app-data-status-indicator [element]="survey" [initialState]="'Loading'"></app-data-status-indicator>
