<div #survey>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-stepper orientation="horizontal" *ngIf="groupedQuestions.length > 0" [linear]="true">
      <mat-step formGroupName="questionGroups" *ngFor="let category of groupedQuestions; let i=index" [completed]="questionGroups.at(i).valid">
        <ng-template matStepContent>
          <div class="pt-2" [formArrayName]="i">
            <div class="flex flex-col gap-2" formArrayName="questions">
              <div class="mb-2 bg-slate-100 p-2 rounded-md" *ngFor="let question of category; let qIndex = index"
                [formGroupName]="qIndex">
                <h2>{{question.questionNumber}}. {{ question.question }}</h2>
                <div class="pl-10 justify-end">
                  <input type="hidden" formControlName="questionNumber">
                  <app-rating formControlName="rating"></app-rating>
                </div>
              </div>
            </div>
          </div>
          <div class="flex pt-2 pb-2">
            <button type="button" mat-raised-button matStepperPrevious *ngIf="i > 0">Previous</button>
            <div class="flex-auto">
            </div>
            <button type="button" matStepperNext mat-raised-button [disabled]="!questionGroups.at(i).valid"
              *ngIf="i < groupedQuestions.length - 1">Next</button>
            <button type="submit" mat-raised-button color="primary" *ngIf="i === groupedQuestions.length - 1"
              [disabled]="!form.valid || submitting">Submit</button>
          </div>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </form>
</div>
<app-data-status-indicator [element]="survey" [initialState]="'Loading'"></app-data-status-indicator>
