<div class="content-body">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-toolbar class="gap-2">
      <div class="flex-auto">
        {{title}}
      </div>

      <a mat-stroked-button [routerLink]="'/categories'" color="warn">Cancel</a>
      <button type="submit" mat-raised-button color="primary"
        [disabled]="!form.valid || isLoading || form.pristine">Submit</button>
    </mat-toolbar>
    <div class="flex flex-col max-w-96 p-4">
      <mat-form-field class="flex-auto">
        <mat-label>Category Name</mat-label>
        <input matInput formControlName="name" placeholder="Category Name">
        <mat-error *ngIf="form.get('name')?.errors?.['taken']">
          Category name is taken.
        </mat-error>
        <mat-error *ngIf="form.get('name')?.errors?.['required']">
          Category name is required.
        </mat-error>
        <mat-error *ngIf="form.get('name')?.errors?.['unavailable']">
          Category name check unavailable. Try again later.
        </mat-error>

      </mat-form-field>
    </div>

  </form>
</div>