<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer mode="side" opened="true" class="sub-category-list">
    <div [ngClass]="{ hidden: isLoading }">
      <div class="p-1 flex gap-2 items-center justify-stretch">
        <mat-form-field subscriptSizing="dynamic" class="flex-auto">
          <mat-label>Search Sub-Categories</mat-label>
          <input
            type="text"
            matInput
            placeholder="Search Sub-Categories"
            [(ngModel)]="searchTerm"
          />
          <button matSuffix mat-icon-button disabled="true" *ngIf="!searchTerm">
            <mat-icon>search</mat-icon>
          </button>
          <button
            matSuffix
            mat-icon-button
            color="warn"
            *ngIf="searchTerm"
            (click)="clearSearch()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>
      <mat-list>
        <ng-container *ngFor="let category of subCategories | keyvalue">
          <div class="flex" mat-subheader>
            <div class="flex-auto">
              {{ categoryDictionary[category.key] }}
            </div>
            <a mat-button color="primary" [routerLink]="['category',category.key,'create']">
              <mat-icon> add </mat-icon>
              Add Sub-Category
            </a>
          </div>
          <mat-list-item
            *ngFor="let subCategory of category.value"
            [activated]="subCategory.id === activeCategoryId"
          >
            <div matListItemTitle>{{ subCategory.name }}</div>
            <small matListItemLine class="text-xs">
              Created on:
              {{ subCategory.createdOn | date : "dd-MMM-yyyy HH:mm:ss" }}
            </small>
            <small matListItemLine class="text-xs">
              Last Modified on:
              {{ subCategory.updatedOn | date : "dd-MMM-yyyy HH:mm:ss" }}
            </small>
            <div matListItemMeta>
              <a
                mat-icon-button
                [routerLink]="[subCategory.id, 'edit']"
                matTooltip="Edit sub-category"
                [disabled]="subCategory.id === activeCategoryId"
              >
                <mat-icon>edit_note</mat-icon>
              </a>
              <button
                mat-icon-button
                color="warn"
                (click)="deleteSubCategory(subCategory.id)"
                [disabled]="subCategory.id === activeCategoryId"
                matTooltip="Delete sub-category"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>
    <div *ngIf="isLoading" class="loading-spinner-container">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
