.chart {
  max-width: 800px;
}

.summary-panel {
  background-color: #f3f0ff;
}
.overall-score {
  position: absolute;
  bottom: -40px;
  left: calc(50% - 55px);
  width: 110px;
}
.placeholder {
  font-size: larger;
  .mat-icon {
    opacity: 0.1;
    font-size: 150px;
    height: 150px;
    width: 150px;
  }
}
