.chart {
  max-width: 800px;
}


#promptData {
  padding: 10px 35px;
}


.rating-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 800px;
  background-color: #f9f9f9;
}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 20px;
}

.progress {
  background-color: #4caf50;
  height: 100%;
  border-radius: 8px;
}
