$app-navbar-height: 48px;
$app-background-color: rgb(248 248 248);
$w-sidebar-width-full: 260px;
$w-sidebar-width-collapsed: 60px;

$sidebar-background-color: rgb(234 234 234);
$app-navbar-background: #fff;
$blue-lighter: #d7e3f1;
